.container__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 90px;
}

.container__skills > div, .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.card-container,
.card-container ul {
  margin: 10px;
  list-style: none;
  text-align: center;
}

.fab {
  color: rgb(231, 101, 15);
}

.wrapper {
  display: flex;

  flex-direction: row;
}

.icon-container {
  display: flex;
  flex-direction: row;
}

.card-container {
  background-color: rgb(231, 101, 15);
  padding: 20px;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .card-container,
  .card-container ul {
    width: 80%;
    list-style: none;
    text-align: center;
  }

  .wrapper > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .card-container li {
    color: white;
  }

  .icon-container {
    display: flex;
    flex-direction: row !important;
    width: 90vw;
  }

  .icon-container > i {
    margin: 10px;
  }
}
