i {
  margin: 20px;
  list-style: none;
  text-decoration: none;
  color: rgb(231, 101, 15);
  font-size: 4em;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


@media ( max-width: 880px ) {
  i {
    font-size: 2em;
    margin: 81px 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

@media (max-width:880px) {

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

}