i {
  list-style: none;
  margin-left: 20px;
  text-decoration: none;
  color: var(--header-text-color);
  font-size: 3em;
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media ( max-width: 880px ) {
  i {
    font-size: 2em;
    margin: 81px 0px;
  }

  .contact__container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
